@page "/"

<Toasts class="p-3" Messages="_messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />

<h3>Lista kontaktów</h3>

<div style="margin-bottom: 10px;">
    <AuthorizeView>
        <Authorized>
            <Button Color="ButtonColor.Primary" @onclick="GoToAddingPage"> Dodaj kontakt </Button>
        </Authorized>
    </AuthorizeView>
</div>

<div style="row">
    <div class="column">
        <input type="text" @bind="@ContactQuery.Name" class="form-control mb-2 mr-sm-2" placeholder="Imię" />
    </div>
    <div class="column">
        <input type="text" @bind="@ContactQuery.Surname" class="form-control mb-2 mr-sm-2" placeholder="Nazwisko" />
    </div>
    <div class="column">
        <input type="text" @bind="@ContactQuery.PhoneNumber" class="form-control mb-2 mr-sm-2" placeholder="Numer telefonu" />
    </div>
    @if(Categories != null && Categories.Any())
    {
        <div class="column">
            <select class="form-select mb-2 mr-sm-2" @bind="@ContactQuery.CategoryId">
                @if(@ContactQuery.CategoryId == null)
                {
                    <option disabled hidden selected value="null">Rodzaj kontaktu</option>
                }
                <option value="">-</option>
                @foreach(var category in Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
    }
</div>
<Button Color="ButtonColor.Primary" @onclick="OnFilterAsync">Szukaj</Button>
<Button Color="ButtonColor.Danger" @onclick="OnClearFiltersAsync">Wyczyść</Button>

<div class="row">
    @if(ContactsDto != null && ContactsDto.Contacts.Any())
    {
        <table id="contacts">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer telefonu</th>
                    <th>Rodzaj kontaktu</th>
                    <AuthorizeView>
                        <Authorized>
                            <th></th>
                        </Authorized>
                    </AuthorizeView>
                </tr>
            </thead>
            <tbody>
                @foreach(var contact in ContactsDto.Contacts)
                {   // wywołanie komponentu oraz przechwycenie eventów usunięcia kontaktu
                    <ContactListDetail Contact="contact" OnContactDeleted="ContactDeletedEvent" OnContactDeletedError="ContactDeletedErrorEvent"></ContactListDetail>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="left"></div>
            <div class="column">
                <Pagination ActivePageNumber="@ContactQuery.PageNumber"
                            TotalPages="@TotalPages"
                            DisplayPages="5"
                            Alignment="Alignment.End"
                            FirstLinkIcon="IconName.ChevronDoubleLeft"
                            PreviousLinkIcon="IconName.ChevronLeft"
                            NextLinkIcon="IconName.ChevronRight"
                            LastLinkIcon="IconName.ChevronDoubleRight"
                            PageChanged="OnPageChangedAsync" />
            </div>
            <div class="column">
                <select class="custom-select" @onchange="OnPageSizeChangedAsync">
                    <option value="5">5</option>
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    }
</div>